*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.header{
    background-image:url(14.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid green;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.righ{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.righ .links a{
    text-decoration: none;
    padding: 10px;
    color: white;
}


.righ  .button .orange{
    width: Hug (135px);
    height: Hug (54px);
    padding: 16px, 40px, 14px, 40px;
    gap: 4px;
    background-color:#5E4DCD;
    border: none;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

.righ  .button button{
    padding: 5px 20px ;
    background-color: #FFD2DD;
    box-shadow: 6px 6px 25px rgba(235, 171, 208, 0.5);
    border: none;
    color: blue;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}
.bul{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    margin: 30px 0;
    
}

.bull{
    width: 250px;
    height: 250px;
    border-radius: 140%;
    background-color: rgb(183, 183, 236);
    position: relative;
    left: 150px;
    
}

.text {
    text-align: justify;
    position: relative;
    right: 60px;
}

.text h1 p{
    margin: 0;
    font-weight: lighter;
    letter-spacing: 0px;
    word-spacing: 0px;
}

.text button{
    margin-left: 30px;
    margin-top: 30px;
    width: 100px;
    height: 30px;
}

/* --------------------2eme parti--------------------------------- */

.container{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   margin-top: 80px;
   margin-bottom: 30px;
}
.tex2{
    padding-bottom: 70px;
}

.allbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.allbox p{
    font-size: 12px;
    font-style: normal;
    
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 8px;
    flex-wrap: wrap;
}

.box1 img{
    width: 200px;
    height: 140px;
}
.box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    margin: 0 0 20px 20px;
    box-shadow: 6px 15px 33px 0px rgb(169, 168, 168);
    
}
 
.ima{
  position: relative;
} 

.buton{
    position: relative;
    bottom: 120px;
    color: black;
}

.buton button{
    background-color: white;
}
.alltext{
    text-align:justify;
    font-size: small;
    
}
.alltext p span{
    color: green;
    font-weight: bold;
}

.textes{
    font-size: 9px;
    padding-bottom: 10px;
}
.textes h2{
    letter-spacing: 2px;
}
.textes p{
    font-size: 8px;
}

.progress{
    width: 190px;
    height: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: grey;
}
.progress-bar{
    width: 100px;
    height: 5px;
    border: 1px solid rgb(14, 15, 14);
    background-color: green;
}
.alltext-row{
    margin-bottom: 10px;
}

.textrow{
    margin-top: 17px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
}

.row .bold{
    font-weight: bold ;
    font-size: 8px;
    padding-left: 15px;
}

.row p{
    font-size: 9px;
}
.view{
    width: 100%;
    margin-top: 50px;
}
.view button{
    width: 100%;
    height: 40px;
    background-color: palevioletred;
    border: none;
}

.aprebox {
    width: 200px;
    height: 40px;
    margin: auto;
}

.aprebox button{
    width: 200px;
    height: 40px;
    margin: auto;
}
