*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;

}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.header{
    background-image:url(14.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid green;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.righ{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.righ .links a{
    text-decoration: none;
    padding: 10px;
    color: white;
}


.righ  .button .orange{
    width: Hug (135px);
    height: Hug (54px);
    padding: 16px, 40px, 14px, 40px;
    gap: 4px;
    background-color:#5E4DCD;
    border: none;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

.righ  .button button{
    padding: 5px 20px ;
    background-color: #FFD2DD;
    box-shadow: 6px 6px 25px rgba(235, 171, 208, 0.5);
    border: none;
    color: blue;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}
.bul{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
}

.bull{
    width: 250px;
    height: 250px;
    border-radius: 140%;
    background-color: rgb(183, 183, 236);
    
}

.text {
    text-align: center;
}
